---
import RssFeed from "../components/RssFeed.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>note記事一覧を取得</title>
  </head>
  <body>
    <h1>note記事一覧を表示する</h1>
    <RssFeed />
  </body>
</html>
